.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {
 color: white
}

.active {

}

.dialog {

}

